/**#94644c; <-- Lighter brown
#5c442c <-- Dark Brown
**/


body {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    background-color: #d0d8c6;
    flex-direction: column;
}
header,
.blocks,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right:200px;
}
header, footer {
    background-color: #d0d8c6;
    justify-content: space-around;
}
.headercontainer {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-between;
    align-items: center;
}
.block1 {
    background-color: #d0d8c6;
    align-items: center;
    justify-content: space-between;
    gap:16px;
    height:400px;
}
.signup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:500px;
    justify-content: center;
    align-content: center;
}
.block2 {
    margin-left: 200px;
    margin-right: 200px;
}
.items {
    width:130px;
    justify-content: center;
}
.itemscontainer {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.reviewcontainer {
    background-color: rgb(230,198,175,0.5);
    height:400px;
    display: flex;
}
.block3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;;
}
#main-logo {
    width:350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 20px rgba(92, 68, 44, 0.3);
}
#stars, #taco, #avocado, #toast {
    height: 200px;
    width: auto;
    border-radius: 20px;
    border: 4px solid #d0d8c6;
    border-radius: 4px;
    
}
#header-logo{
    width:auto;
    height:100px;
    flex-wrap: wrap;
}
#quote {
    flex:1;
    font-size: 38px;
}
#customer {
    flex:1;
    font-size: 24px;
    text-align: right;
    margin-top: -30px;
    
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: #94644c;
}
li {
    font-size: 24px;
    
}
p {
    color: #94644c;
}
h1 {
    color: #5c442c;
    font-size: 42px;
}
h2 {
    text-align: center;
    color: #5c442c;
    font-size: 38px;
}
.button1 {
    font-size: 24px;
    padding: 4px;
    border-radius: 8px;
    background-color: #94644c;
    color: white;
    width: 100px;
    transition-duration: 0.4s;
}
.button1:hover {
    background-color: #d0d8c6;
    border-color: #94644c;
    color: #94644c;
}