body {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    background-color: #d0d8c6;
    flex-direction: column;
}
header,
.blocks,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right:200px;
}
header {
    background-color: #d0d8c6;
    justify-content: space-around;
}
.headercontainer {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-between;
    align-items: center;
}
.block1 {
    background-color: #d0d8c6;
}

#main-logo {
    width:500px;
    height: auto;
}
#stars, #taco, #avocado, #toast {
    height: 200px;
    width: auto;
}
#header-logo{
    width:auto;
    height:100px;
    flex-wrap: wrap;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: #94644c;
}
li {
    font-size: 24px;
    
}